.header{
    height: 12vh;
    background-color: #e98614;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10vw;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    opacity: 70%;
}

nav{
    display: flex;
    gap: 30px
}

.header h1{
    font-size: 36px;
}

@media (max-width: 650px) {
    .header{
        flex-direction: column;
        justify-content: space-around;
    }
}