.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 82vh;
}

@media (max-width: 1160px){
    .container{
        padding: 50px 0;
        flex-direction: column;
        gap: 100px;
        height: max-content;
    }
}